<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:#ffffff; padding:10px;">
    @RenderBody()
</body>
</html>
